html{
    height: 100%;
}

body{
    font-family: sans-serif;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
}

#annotate-display{
    border-bottom: 0;
}



.container{
    color: white;
    border: .3em solid hsl(0, 0%, 33%);
    border-right: 0;
    background: hsl(0, 0%, 8%);
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    position: relative;
}

.container.annotate{
    border-bottom: 0;
}

.container .content{
    padding: 40px 10px 10px 10px;
}

.container .title{
    z-index: 100;
    background: hsl(0, 0%, 8%);
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 40px;
    width: calc(40% - 22px);
    position: fixed;
    border-bottom: .3em solid hsl(0, 0%, 33%);
}

/* #annotate-display .title{

} */

#correction-display .title{
    top: calc(50% + 3em);
}

.page-content{
    width: 100%;
    height: 100%;
}

.tag-display{
    flex: 1;
}

.code-display{
    width: 60%;
    justify-self: flex-end;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.tagged-sentence{
    flex-wrap: wrap;
    margin-bottom: 30px
}

.tagged-sentence >.col{
    margin-right: 5px;
}

pre[class*="language-"]{
    width: 100%;
    margin: 0 !important;
    border-radius: 0 !important;
    min-height: 100%;
}

.row{
    display: flex;
}


.correction-display{
    
}

.blue{
    color: rgb(0, 132, 255);
}

.green{
    color: #5dc15d;
}

.yellow{
    color: yellow;
}

.red{
    color: red;
}

.magenta{
    color: magenta;
}

/* .curlyBrace {
    stroke: #000000;
    stroke-width: 2px;
    fill: none;
} */

.curly-wrapper{
  
    position: relative;
}



.bracket{
    border: solid 1px white;
    border-top: 0;
    height: 10px;
    width: 100%;
}
